extends layout

block content
  h1 Dashboard

  if user
    p Witaj, użytkowniku o nazwie #{user.username}!
    p Twoja rola: #{user.role}

    form(action='/dashboard/logout', method='POST')
      button(type='submit') Wyloguj się

    hr

    include add-gallery.pug

    hr

    include user-galleries.pug

    hr

    include other-galleries.pug

  else
    p Nie jesteś zalogowany.
    a(href='/login') Zaloguj się
    br
    a(href='/register') Zarejestruj się
