doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
  body
    block content

block head
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

script.
  function showImageModal(src, description) {
    const modal = new bootstrap.Modal(document.getElementById('imageModal'));
    const modalImage = document.getElementById('modalImage');
    const modalDesc = document.getElementById('modalDescription');
    const modalTitle = document.getElementById('imageModalLabel');

    modalImage.src = src;
    modalImage.alt = description;
    modalDesc.textContent = description;
    modalTitle.textContent = 'Podgląd zdjęcia';

    modal.show();
  }